body {
  background-image: url(../IMG/Sven_Blindfold_close-up.png);
  background-color: #212529;
  background-position: center;
  background-repeat: no-repeat;
}
.overlay{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

#content{
  max-width: 500px;
  height: auto;
  text-align: left;
  margin-top: 2.5%;
  padding-left: 25px;
}

.p-container{
  max-height: 264px;
  overflow: scroll;
  scrollbar-color: #DB1538 white;
}

h1{
    font-size: 5rem;
  }
  h3{
    font-size: 2rem;
    padding-bottom: 20px;
  }
  
  p{
    font-size: 1.25rem;
  }

  @media(max-width: 992px) {
    body{
      background-image: none;
    }
    .overlay{
      height: 100%;
      background-color: rgba(33, 37, 41, 1);
    }
    #content{
      max-width: 100%;
      text-align: left;
    }
    .p-container{
      max-height: 100%;
    }
    h3{
      font-size: 1.5rem;
    }
    p{
      font-size: 1rem;
    }
}