body{
  background-image: url(../IMG/Sven_Blindfold_close-up.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.overlay{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

#content{
  text-align: left;
  margin-top: 2.5%;
  text-shadow: 
    0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

h1{
  font-weight: 700;
  font-size: 4rem;
  padding-left: 20px
}

.content-list > li{
  font-weight: 600;
  font-size: 2rem;
  padding-top: 30px;
  padding-bottom: 10px;
}

hr{
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-left: auto;
  margin-right: auto;
}

#carousel{
  display: none;
}

@media (max-width: 992px) {
  body{
    background-image: none;
  }
  .overlay{
    height: 100%;
    background-color: rgba(33, 37, 41, 1);
  }
  h1{
    font-size: 3rem;
  }
  p{
    font-size: 1.25rem;
    padding-bottom: 0px;
  }
  #carousel{
    display: block;
  }
}