body{
  background-image: url(../IMG/Sven_Clean_BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.overlay{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

#content{
  text-align: left;
  margin-top: 2.5%;
  text-shadow: 
    0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

h1{
  font-weight: 700;
  font-size: 5rem;
  padding-left: 20px
}
h3{
  font-weight: 600;
  font-size: 2.5rem;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
}

hr{
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
  body{
    background-image: none;
    background-color: #212529;
  }
  h1{
    font-size: 3rem;
  }
  h3{
    font-size: 1.5rem;
  }
}