@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Titillium+Web:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
    color: white;
    background-color: #212529;
}
h1{
    font-weight: 700;
}
h3{
    font-weight: 500;
}
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Titillium+Web:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
    background-color: #212529;
}

#navbarNav > ul > li > a{
  padding-left: 25px;
  color: white;
  font-size: 3rem;
  font-weight: 600;
}

#navbarNav > ul > li > a:hover, a:focus{
color: #000;
background-color: #DB1538;
}

.sm-icons {
  flex-direction: row;
}

@media (max-width: 992px) {
    #navbarNav > ul >li > a{
        font-size: 2rem;
    }
}