table {
  border: 1px solid #333;
  border-collapse: collapse;
  background-color: black;
  font-family: Helvetica;
}

table {
  table-layout: fixed ;
  width: 100% ;
}

td {
  width: 25% ;
}


thead {
  background-color: rgb(29, 62, 94);
}

th,td {
  padding: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.930);
}

.frame-data-table tr{
  transition: 1s
}

.frame-data-table tbody tr:hover {
  background-color: #666;
}

td:empty:after {
  content: "~";
}
.frame-data-table li:nth-child(even) {
  background-color: rgb(25,25,25);
}

.extremely-plus {
  background-color: rgb(101, 175, 84);
}

.plus{
  background-color: rgb(74, 132, 61);
}

.safe {
  background-color: rgb(63, 102, 55)
}

.unsafe {
  background-color: rgb(110, 64, 63);
}

.minus {
  background-color: rgb(156, 70, 67);
}

.extremely-minus {
  background-color: rgb(194, 94, 90);
}

.extremely-minus tbody td:hover {
  background-color: rgb(255, 121, 116);
}